body {
  font-family: 'Space Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

h2 {
  font-size: 1.4285714em;
  line-height: 1.4;
  margin-bottom: 0.8em;
  margin-top: 1.6em;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
