$black-brown: #360e10;
$dark-brown: #5d161a;
$light-brown: #7f2010;
$red: #bd3018;
$orange: #d45514;
$yellow: #e6a934;
$cray: #e8e1d7;
$green: #95c11f;

$small-gutter: 0.5rem;
$gutter: 1rem;
$big-gutter: 1.5rem;
$bigger-gutter: 2rem;

$font-size-small: 1rem;
$font-size-medium: 1.5rem;

p,
span {
  font-family: monospace;
  color: $dark-brown;
}
