// colors
$darkgreen: #06663e;
$brown: #4d2f13;
$red: #da5a31;
$green: #e28341;
$orange: #e28341;
$darkbrown: #f0ddc5;
$lightbrown: #f2ebe6;
$beige: #efece6;

// fonts
$titleFont: 'myriad-std-tilt', sans-serif;
$largeFont: 'Six Caps', sans-serif;
$smallFont: 'kepler-std,' serif;
$bodyFont:
  'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  'Lucida Grande', sans-serif;

//gutter
$small-gutter: 0.5rem;
$gutter: 1rem;
$big-gutter: 1.5rem;
$bigger-gutter: 2rem;
