@use '../assets/scss/vars' as *;

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: $font-size-small;
  
  .breadcrumb-link {
    background: none;
    border: none;
    color: $dark-brown;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    font-size: inherit;
    font-family: inherit;
    
    &:hover {
      background-color: rgba($dark-brown, 0.1);
      text-decoration: underline;
    }
    
    &:active {
      background-color: rgba($dark-brown, 0.2);
    }
  }
  
  .breadcrumb-current {
    color: $dark-brown;
    font-weight: bold;
    padding: 0.2rem 0.4rem;
  }
}
