@import '../assets/scss/vars';

.task-bar {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 100%;
  padding: 0 8px;
}

.task-bar-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 4px;
  border-radius: 3px;
  transition: all 0.1s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }
}

.task-bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.task-bar-icon {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
}

.task-bar-label {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 11px;
  font-family: monospace;
  color: $dark-brown;
  white-space: nowrap;
}
