@import '../assets/scss/vars';

.window-header {
  display: block;
  background-color: $yellow;
  padding: 0 1.6rem;
  border-bottom: 2px solid $dark-brown;
  height: 50px;
  .window-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .toggle-window-container {
    display: flex;
    .toggle-window {
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 0.5px solid $dark-brown;
      &:not(:last-of-type) {
        margin-right: $small-gutter;
      }
      &.red {
        background-color: $red;
      }
      &.yellow {
        background-color: $yellow;
      }
      &.green {
        background-color: $green;
      }
    }
  }
  .window-header-label {
    font-size: $font-size-small;
    border: 0.5px solid $dark-brown;
    padding: 0.2rem 0.7rem;
    border-radius: 0.4rem;
    color: $dark-brown;
    display: flex;
    align-items: center;
    
    span {
      white-space: nowrap;
    }
  }
  .window-header-nav {
    .nav {
        padding: 6px 14px;
        outline: 1px solid $dark-brown;
    }
  }
}
