@import '../assets/scss/vars';

.desktop-bar {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $cray;
  gap: $gutter;
  z-index: 10;
  padding: 0 30px;
  border-top: 1px solid $dark-brown;
  & > * {
    flex: 1;
  }
  .desktop-bar-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .time {
    text-align: right;
  }
  .date {
    text-align: right;
    font-size: 0.8em;
    color: $dark-brown;
  }
  .datetime-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
  }
  .item {
    margin: 0 0.5rem;
  }
}
