@import '../assets/scss/vars';

.desktop-top-bar-container {
  background-color: $black-brown;
  display: block;
  height: 40px;
  .desktop-top-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  span {
    color: $cray;
  }
}
