@import '../../assets/scss/vars';

.cls-1 {
  fill: #5d161a;
  stroke: #5d161a;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
  stroke-miterlimit: 10;
}

.cls-1, .cls-2, .cls-4, .cls-6 {
  stroke-width: 8px;
}

.cls-2 {
  fill: #7f2010;
}

.cls-2 {
  stroke: #7f2010;
}

.cls-3, .cls-4, .cls-5 {
  stroke: #360e10;
}

.cls-3 {
  stroke-width: 12px;
}

.cls-3, .cls-4, .cls-5, .cls-6 {
  fill: none;
}

.cls-5 {
  stroke-width: 15px;
}

.cls-7 {
  fill: #bd3018;
}

.cls-6 {
  stroke: #e6a934;
}

#stolify-svg {
  overflow: visible;
  #reader {
    right: 5px;
    transform: rotate(0deg) translateX(-10px);
    transform-origin: top right;
    transition: transform 0.2s;
  }
  &.start {
    #reader {
      transform: rotate(-24deg) translateX(-10px);
      // transform-origin: top right;
    }
  }
  &.playing {
    #disk {
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        transition: transform 0.2s;
        transform-origin: center center;
      }
      #reader {
        animation-name: alternate;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        transition: transform 0.2s;
        transform-origin: top right;
      }
    }
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes alternate {
  0% {
    transform: rotate(0deg) translateX(-10px);
  }
  100% {
    transform: rotate(-3deg) translateX(-5px);
  }
}