$black-brown: #360e10;
$dark-brown: #5D161A;
$light-brown: #7F2010;
$red: #BD3018;
$orange: #D45514;
$yellow: #E6A934;
$cray: #E8E1D7;
$green: #95C11F;

$small-gutter: 0.5rem;
$gutter: 1rem;
$big-gutter: 1.5rem;
$bigger-gutter: 2rem;

$font-size-small: 1rem;
$font-size-medium: 1.5rem;

p, span {
font-family: monospace;
color: $dark-brown;
}