@import '../assets/scss/vars';

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $yellow;
  padding: $bigger-gutter;
  border-bottom: 5px solid $dark-brown;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  .toggle-window-container {
    display: flex;
    .toggle-window {
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 0.5px solid $dark-brown;
      &:not(:last-of-type) {
        margin-right: $small-gutter;
      }
      &.red {
        background-color: $red;
      }
      &.yellow {
        background-color: $yellow;
      }
      &.green {
        background-color: $green;
      }
    }
  }
  .window-header-label {
    font-size: $font-size-medium; 
  }
  .window-header-nav {
    .nav {
        padding: 6px 14px;
        outline: 1px solid $dark-brown;
    }
  }
}
